/* Home */

#Home {
  margin-top: 50px;
  padding-top: 20px;
}

#home-img {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: auto;
  margin: auto;
  width: auto;
  height: auto;
}

#h-right {
  padding: auto;
  margin: auto;
  width: auto;
  height: auto;
}

.btn-group {
  display: inline-block;
}


#h-button1 {
  border-radius: 4px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: #145369 !important;
  font-weight: 700 !important;
  width: 120px;
  height: 40px;
  margin-right: 20px;
  margin-left: 10px;
  flex: 2;
  margin-bottom: 5px;
}

#h-button2 {
  background-color: #145369;
  color: #ffffff !important;
  border-color: #ffffff;
  border-radius: 4px;
  font-weight: 700 !important;
  width: 120px;
  height: 40px;
  margin-right: 20px;
  margin-left: 10px;
  flex: 2;
  margin-bottom: 5px;
}


#right-H2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

#right-H1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 28px;
}


@media screen and (max-width: 1100px) {
  #right-H2 {
    font-size: 16px;
  }
}