/* Home */

#Home {
  margin-top: 50px;
  padding-top: 40px;
}

#home-img {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: auto;
  margin: auto;
  width: auto;
  height: auto;
}

#h-right {
  padding: auto;
  margin: auto;
  width: auto;
  height: auto;
}

.btn-group {
  display: block;
}

.btn-group a {
  padding: 8px 0px;
}

#h-button2 {
  background-color: #ffffff;
  color: #145369 !important;
  border-color: #ffffff;
  border-radius: 4px;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  width: 120px;
  height: 40px;
  margin-bottom: 5px;
}

#right-H2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

#right-H1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 28px;
}


@media screen and (max-width: 1100px) {
  #right-H2 {
    font-size: 16px;
  }
}