body {
  font-family: "Poppins", Arial, sans-serif;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  
}

a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

button:hover,
button:focus {
  text-decoration: none !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: rgb(255, 255, 255);
}

.ii{
  background-image: url(https://sasnaka.org/static/media/home-one.d4d8de51.jpg);
}



/* Navbar */

.home-cont{
  background: #145369;
  padding-bottom: 10px;
}

.n-wrapper {
  height: 10vh;
  background: #145369;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
}

.n-left {
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.n-list {
  flex: 10;
}

.n-list>ul {
  display: flex;
  margin-right: 5px;
}

.n-list>ul :hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.n-list ul li a{
  font-size: 14px;
  font-weight: 900;
  margin-right: 18px;
  color: #ffffff;
}


.n-button {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  color: #145369;
  font-weight: 600;
  width: 70px;
  margin-right: 5px;
  flex: 2;
}

/* hidden navbar */
@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
}




/* Home */

.Home {
  display: flex;
  height: 77vh;
  margin-top: 1rem;
}

/* right side styling */
.h-right {
  display: flex;
  position: relative;
  flex: 1;
  /* top to bottom */
  flex-direction: column;
  gap: 2rem;
  background-color: #145369;
  margin-right: 75px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.h-name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.h-name h1{
  font-weight: 900;
  font-size: 26px;
  margin-top: 80px;
  margin-left: 10px;
}

.h-name h4{
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  margin-left: 10px;
}

.btn-group{
  display: inline-block;
}

.h-button {
  border-radius: 4px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: #145369;
  font-weight: 600;
  width: 120px;
  height: 40px;
  margin-right: 20px;
  margin-left: 10px;
  flex: 2;
}

.h-icons {
  margin-top: 3rem;
  display: flex;
  gap: 0rem;
}

.h-icons>* {
  transform: scale(0.5);
}

.h-icons>*:hover {
  cursor: pointer;
}

/* left side styling */
.h-left {
  flex: 1;
  position: relative;
  margin-left: 75px;
  border-radius: 8px;
  background-image: url(https://img.freepik.com/free-vector/people-volunteering-donating-money_53876-66112.jpg);
  background-color: #145369;
}

.h-left>* {
  position: absolute;
  z-index: 1;
}


@media screen and (max-width: 480px) {
  .Home {
    flex-direction: column;
    gap: 7rem;
    height: 64rem;
  }

  .h-left {
    transform: scale(0.8);
    left: -3rem;
  }

  .h-left .blur {
    display: none;
  }

  .floating-div:nth-of-type(1) {
    /* display: none; */
    top: -7rem !important;
    ;
  }
}


/* Other components */

.OurLatestEvents {
  margin-top: 20px;
}