.featuredContainer {
    margin: 2px 0px;
    display: flex;
    align-items: center;
  }
  
  .featured {
    font-size: 30px;
    font-weight: 500;
    color: black;
  }
  
  .rate {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .featuredIcon {
    font-size: 14px;
    margin-left: 5px;
    color: green;
  }
  
  .featuredIcon.negative {
    color: red;
  }

  #mid{
    margin-left: 30px;
  }
  
  #profielimg{
    width:40px;
    height: 40px;
    border-radius: 50%;

}
#details{
    text-align: left;
    font-size: smaller;
}
#details a.nav-link{
    padding: 0px!important;
}
#edit{
    font-size: 30px;
}
#head{
    padding: 2px;
    border-radius: 15px 15px 0 0;
}
#body{
    background-color:rgb(246, 246, 246);
    color: black;
    font-size: small;
    border-radius:0 0 15px 15px;
}
.card{
border-radius: 10px!important;
}
#file{
    width:16px;
    height: 20px;
}