/* #outertablebox{
    background-color: aqua;
}
#outertablebox2{
    background-color: bisque;
} */
#contentcard2{
    /* background-color: blueviolet; */
    padding-top: 0;
}
#selectionrow{
    width: 100%;
    height: 50px;
    /* background-color: aqua; */
}
#qQ3{
    float: right;
    width: 200px;
    margin-right: 20px;
}
#qQ3label{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}
                        /* q1 div */
#q1{
    /* background-color: blanchedalmond; */
    float: left;
    width: 200px;
    margin-left: 10%;
}
#q1label{
    float: left;
    margin-top: 5px;
}
#eventlist{
    float: right;
    width: 75%;
    /* height: 100%; */
}
                        /* q2 div */
#q2{
    float: left ;
    width: 180px;
    margin-left: 20px;
    /* background-color: aquamarine; */
}
#q2label{
    float: left;
    margin-top: 5px;
}
#Disctrictlist{
    float: right;
    width: 70%;
    /* height: 100%; */
}
#q3{
    float: left;
    width: 250px;
    margin-left: 20px;
}
#q3label{
    float: left;
    margin-top: 5px;
}
#fromdate{
    float: right;
    width: 70%;
    height: 30px;
    /* height: 100%; */
}
#q4{
    float: left;
    width: 200px;
    margin-left: 10px;
    /* background-color: aquamarine; */
}
#todate{
    float: right;
    width: 85%;
    height: 30px;
    /* height: 100%; */
}
#q5{
    width: 100px;
    margin-right: 10%;
    /* background-color: blue; */
    float: right;
}
#generate{
    font-size: 14px;
   padding-top: 5px;
    /* margin-bottom: 20px;
    margin-top: 20px; */
    
    background: #2596BA;
    color:white;
    border: none;
    border-radius: 5px;
}
#row{
    width: 100%;
    /* background-color: aquamarine; */
    padding: 0;
}
#eventleftside{
    padding-top: 15px; 
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    height: auto;
    /* float: left; */
    /* background-color: aquamarine; */
 }
 #Eblaa{
    width: 97%;
    
    float: right;
    padding: 0;
    /* margin-top: 10px; */
    margin-right: 1%;
    margin-left: 0;
    

 }