.global-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /*background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/
  /* background: url("../../../../public/images/Login-background.png"); */
  background: url("../../../../public/images/bglogin.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.card-title {
  color: white;
  font-weight: 300;
}
.forgotpw {
  text-align: right;
}
.forgotpwl {
  text-align: left;
}

form {
  padding-top: 10px;
  font-size: 14px;
  margin-top: 30px;
}

#logbtn {
  font-size: 14px;
  padding-top: 10px;
  margin-top: 20px;
  background: linear-gradient(
    90deg,
    rgba(201, 201, 201, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  color: black;
  width: 100%;
  border: white;
  border-radius: 2px;
}

.login-form {
  width: 430px;
  margin: 20px;
  position: relative;
  left: 350px;
  border-radius: 25px;
}

.sign-up {
  text-align: center;
  padding: 20px 0 0;
  font-size: 12px;
  color: white;
}

.alert {
  margin-bottom: -30px;
  font-size: 13px;
  margin-top: 20px;
}
.formback {
  background-color: "transparent";
}
.form-control {
  border: 0px solid #cfd1d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 13px;
  /* font-size: 0.825rem; */
  background: linear-gradient(
    90deg,
    rgba(201, 201, 201, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  color: #2e323c;
  height: 40px;
}
