table {
  border-spacing: 0;
}

table th,
table td {
  margin: 0;
  border-bottom: 1px solid rgb(198, 198, 198);
  color: black;
}
table th :last-child,
table td :last-child {
  border-right: 0;
}
td,
th {
  padding: 0;
  padding-right: 40px;
}
.tablehead {
  font-weight: lighter;
}
#tablecheckbox {
  width: 20px;
  height: 20px;
}

.pagination {
  display: inline-block;
  padding: 0.5rem 0;
  display: flex;
}

.pagination button {
  color: black;
  padding: 1px 3px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  width: 30px;
  height: 30px;
  padding: auto;
  margin: 3px;
}
#gotopage {
  width: 40px !important;
  height: 30px;
  border: none;
}
#rowselect {
  border: none;
}
#tableprop {
  margin: auto;
}
td {
  line-height: 20px;
}
#sorticon {
  font-size: medium;
  color: rgb(160, 160, 160);
  margin-left: 5px;
}
