a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    float: right;
   
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    float: right;
    margin-right: 5%;
    background-color: #2596BE;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }