#forumbtn{

    font-size: 14px;
   padding-top: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    
    background: #2596BA;
    color:white;
    
    border: none;
    
    border-radius: 5px;

}
#maindiv{
    width: 85%;
    height: 720px;
    margin-top: 40px;
    float: right;
    /* background-color:#a11b1b; */
}
 #leftside{
    padding-top: 15px; 
    padding-bottom: 15px;

    width: 100%;
    height: 100%;
    float: left;
    /* background-color: aquamarine; */
 }

 #rightside{
    padding-top: 15px; 
    padding-bottom: 15px;
    width: 100%;
    height: 100%;
    float: left;
    /* background-color: red; */
 }
 #blaa{
    width: 97%;
    height: 720px;
    float: right;
    padding: 0;
    /* margin-top: 10px; */
    margin-right: 1%;
    margin-left: 0;
    

 }

 #blaaa{
    width: 97%;
    height: 100%;
    float: right;
    padding: 0;
    /* margin-top: 10px; */
    margin-right: 1%;
    margin-left: 0;
 }