#morelatestevents-cont {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

#inner-cont-event {
    margin-left: 20px;
    background-color: #ffffff;
    margin-right: 20px;
}

.eventH1 {
    color: #145369;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}

.eventH4 {
    color: #145369;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

@media screen and (max-width: 745px) {
    .eventH4 {
        font-size: 16px;
    }
}

#latestevents {
    margin-bottom: 15px;
}

#event-card-2 {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#card-img-2 {
    margin: 10px;
    border-radius: 8px;
}

#event-card-title {
    color: #000000;
    font-weight: 700;
}

#icon-left1 {
    color: #145369;
    margin-left: 40px;

}

#icon-right2 {
    color: #145369;
    margin-right: 40px;
}