body {
  margin: 0;
  color: #2e323c;
  background: #f5f6fa;
  position: relative;
  height: 100%;
}
.btn {
  color: #f5f6fa !important;
  font-weight: 300!important;
}
.formerror {
  color: red;
  font-size: 10px;
  font-weight: lighter;
  margin: 2px;
}
label {
  color: rgb(146, 145, 145) ;
  font-size: smaller;
}
